﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="FrmCourseMaster.aspx.vb" Inherits="Ramus.FrmCourseMaster" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<%@ Register assembly="EO.Web" namespace="EO.Web" tagprefix="eo" %>

<html>
<head id="Head1" runat="server">
    <title>Create / Edit Course Master</title>
    <link href="styles/styles.css" type="text/css" rel="stylesheet" />
    <link href="styles/IDC_Toolbar.css" type="text/css" rel="stylesheet" />
    <script language="javascript" type="text/javascript" src="js/IDC_Core.js"></script>
    
    <script language="javascript" type="text/javascript">
        //Variables
        var w = null;
        var core = null;
        var wfind = null;
        var Index = null;
        //Initialize
        function init() {
            w = window.frameElement.IDCWindow; //Get Window Manager Window
            core = w.WindowManager.Core; //Get the Core (for mouse, keyboard, ajax and DHTML functions
            var localCore = new IDC_Core(); //Create a local core, for local window mouse coords.

            w.Icons = ['images/smv.png', 'images/smv32.png']; //Set Window Icons as an Array 16x16, 32x32.
            w.Name = 'Create / Edit Course Master'; //Set the name

            w.Width = 620; //Set the size of the window dynamically, by reading the desktop size
            w.Height = 400;
            w.Top = 10;
            w.Left = 10;              
            w.Show(); //Show the window
        };
        function ShowFind() {
            wfind = window.frameElement.IDCWindow;
            wfind.CreateWindow('FindBank.aspx', w);
            return false;
        };
        function FunctionConfirm(Tlb,TlbItem) {
            var TlbCmd = TlbItem.getCommandName();
            if (TlbCmd == "Save") {
                Index = '1';
                w.Confirm("Sure to Save", "Confirm",null,SaveFunction);
            }
            else if (TlbCmd == "New") {
                __doPostBack('ToolBar1', '0');
            }
            else if (TlbCmd == "Delete") {
                Index = '3';
                w.Confirm("Sure to Delete", "Confirm", null, SaveFunction);
            }
        }
        function SaveFunction(Sender,RetVal) {
            if (RetVal) {
                __doPostBack('ToolBar1', Index);
            }
        }
    </script>

    <style type="text/css">
        .style2
        {
            width: 20%;
        }
        .style3
        {
            width: 202px;
        }
        .style4
        {
            width: 20%;
            height: 26px;
        }
        .style5
        {
            width: 202px;
            height: 26px;
        }
        </style>

</head>
<body onload="init();">
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <asp:Panel ID="Panel9" Style="z-index: 101; left: 398px; position: absolute; top: 170px"
                runat="server" Height="32px" Width="32px" BorderStyle="None" Visible="True">
                <div id="divImage" style="display: none">
                    <asp:Image ID="img1" runat="server" ImageUrl="/Images/Wait.gif" />
                </div>
            </asp:Panel>
            <div id="toolbar" style="width: 100%;">
                <eo:ToolBar ID="ToolBar1" runat="server" BackgroundImage="00100103" ClientSideOnItemClick="FunctionConfirm"
                    BackgroundImageLeft="00100101" BackgroundImageRight="00100102" SeparatorImage="00100104"
                    Width="100%">
                    <DownStyle CssText="border-right: #335ea8 1px solid; padding-right: 2px; border-top: #335ea8 1px solid; padding-left: 4px; padding-bottom: 1px; border-left: #335ea8 1px solid; padding-top: 3px; border-bottom: #335ea8 1px solid; background-color: #99afd4; cursor:hand; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;" />
                    <HoverStyle CssText="border-right: #335ea8 1px solid; padding-right: 3px; border-top: #335ea8 1px solid; padding-left: 3px; padding-bottom: 2px; border-left: #335ea8 1px solid; padding-top: 2px; border-bottom: #335ea8 1px solid; background-color: #c2cfe5; cursor:hand; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;" />
                    <Items>
                        <eo:ToolBarItem CommandName="New" ImageUrl="00101001" ToolTip="New">
                        </eo:ToolBarItem>
                        <eo:ToolBarItem CommandName="Save" ImageUrl="00101003" ToolTip="Save">
                        </eo:ToolBarItem>
                        <eo:ToolBarItem Type="Separator">
                        </eo:ToolBarItem>
                        <eo:ToolBarItem CommandName="Delete" ImageUrl="~/images/delete.png" ToolTip="Delete">
                        </eo:ToolBarItem>
                        <eo:ToolBarItem Type="Separator">
                        </eo:ToolBarItem>
                        <eo:ToolBarItem CommandName="Help" ImageUrl="~/images/help.png" ToolTip="Help">
                        </eo:ToolBarItem>
                    </Items>
                    <ItemTemplates>
                        <eo:ToolBarItem Type="Custom">
                            <NormalStyle CssText="background-color:transparent;border-bottom-style:none;border-left-style:none;border-right-style:none;border-top-style:none;padding-bottom:1px;padding-left:2px;padding-right:2px;padding-top:2px;" />
                            <HoverStyle CssText="background-color:transparent;border-bottom-style:none;border-left-style:none;border-right-style:none;border-top-style:none;padding-bottom:1px;padding-left:2px;padding-right:2px;padding-top:2px;" />
                            <DownStyle CssText="background-color:transparent;border-bottom-style:none;border-left-style:none;border-right-style:none;border-top-style:none;padding-bottom:1px;padding-left:2px;padding-right:2px;padding-top:2px;" />
                        </eo:ToolBarItem>
                        <eo:ToolBarItem Type="DropDownMenu">
                            <NormalStyle CssText="padding-right: 4px; padding-left: 4px; padding-bottom: 3px; border-top-style: none; padding-top: 3px; border-right-style: none; border-left-style: none; border-bottom-style: none; cursor:hand; background-image: url(00100105); background-position-x: right;" />
                            <HoverStyle CssText="border-right: #335ea8 1px solid; padding-right: 3px; border-top: #335ea8 1px solid; padding-left: 3px; padding-bottom: 2px; border-left: #335ea8 1px solid; padding-top: 2px; border-bottom: #335ea8 1px solid; background-color: #c2cfe5; cursor:hand; background-image: url(00100106); background-position-x: right;" />
                            <DownStyle CssText="border-right: #335ea8 1px solid; padding-right: 2px; border-top: #335ea8 1px solid; padding-left: 4px; padding-bottom: 2px; border-left: #335ea8 1px solid; padding-top: 3px; border-bottom: none; background-color:transparent; cursor:hand; background-image: url(00100105); background-position-x: right;" />
                        </eo:ToolBarItem>
                    </ItemTemplates>
                    <NormalStyle CssText="padding-right: 4px; padding-left: 4px; padding-bottom: 3px; border-top-style: none; padding-top: 3px; border-right-style: none; border-left-style: none; border-bottom-style: none; cursor:hand; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;" />
                </eo:ToolBar>
            </div>
            <div id="Content" style="width: 100%; height: 503px; overflow: auto; padding: 2px;
                border-right: solid 1px #cddaea;">
                <table style="height: 135%; width: 1065px;">
                    <tr>
                        <td class="style2">
                            &nbsp;</td>
                        <td class="style3" width="20%">
                        <asp:TextBox ID="TxtRecNo" visible="False" runat="server" Width="40px"></asp:TextBox>
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td class="style2">
                            Course Title</td>
                        <td class="style3" width="20%">
                            <asp:TextBox ID="TxtCourseCode" runat="server" Width="455px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="style2">
                            Course Name</td>
                        <td class="style3" width="20%">
                            <asp:TextBox ID="TxtName" runat="server" Width="455px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="style2">
                            Time</td>
                        <td class="style5" valign="middle">
                            <asp:DropDownList ID="CmbNo" runat="server" Width="126px">
                            <asp:ListItem>Select...</asp:ListItem>
                            </asp:DropDownList>
                            <asp:DropDownList ID="CmbDesc" runat="server" Width="126px">
                                <asp:ListItem>Select...</asp:ListItem>
                                <asp:ListItem>Days</asp:ListItem>
                                <asp:ListItem>Month</asp:ListItem>
                                <asp:ListItem>Year</asp:ListItem>
                            </asp:DropDownList>
                        </td>
                        <td class="style5" valign="middle">
                            <asp:DropDownList ID="CmbDesc1" runat="server" visible="False" Width="126px">
                                <asp:ListItem>Select...</asp:ListItem>
                                <asp:ListItem>Days</asp:ListItem>
                                <asp:ListItem>Month</asp:ListItem>
                                <asp:ListItem>Year</asp:ListItem>
                            </asp:DropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td class="style2">
                            Delivery</td>
                        <td class="style5" valign="middle">
                            <asp:DropDownList ID="CmbDelivery" runat="server" Width="126px">
                                <asp:ListItem>Select...</asp:ListItem>
                                <asp:ListItem>Part-Time</asp:ListItem>
                                <asp:ListItem>Full-Time</asp:ListItem>
                            </asp:DropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td class="style2">
                            Training</td>
                        <td class="style5" valign="middle">
                            <asp:DropDownList ID="CmbTraining" runat="server" Width="126px">
                                <asp:ListItem>Select...</asp:ListItem>
                                <asp:ListItem>Internal</asp:ListItem>
                                <asp:ListItem>External</asp:ListItem>
                            </asp:DropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td class="style2">
                            Status</td>
                        <td class="style5" valign="middle">
                            <asp:DropDownList ID="CmbSatus" runat="server" Width="126px">
                                <asp:ListItem>Select...</asp:ListItem>
                                <asp:ListItem>MQA Approved</asp:ListItem>
                                <asp:ListItem>MQA Not Approved</asp:ListItem>
                            </asp:DropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td class="style4">
                            Award Body</td>
                        <td class="style5" width="20%">
                            <asp:TextBox ID="TxtAwardBody" runat="server" Width="455px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="style2">
                            Fees</td>
                        <td class="style3" width="20%">
                            <asp:TextBox ID="TxtFees" runat="server" Width="453px" Height="24px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="style2">
                            Trainer</td>
                        <td class="style3" width="20%">
                            <asp:TextBox ID="TxtTrainer" runat="server" Height="47px" TextMode="MultiLine" 
                                Width="455px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="style2">
                            Venue</td>
                        <td class="style3" width="20%">
                            <asp:TextBox ID="TxtVenue" runat="server" Height="46px" 
                                TextMode="MultiLine" Width="455px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="style2">
                            Course Level</td>
                        <td class="style3" width="20%">
                            <asp:TextBox ID="TxtCLevel" runat="server" Height="46px" 
                                TextMode="MultiLine" Width="455px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="style2">
                            Requirement</td>
                        <td class="style3" width="20%">
                            <asp:TextBox ID="TxtRequirement" runat="server" Height="46px" TextMode="MultiLine" 
                                Width="455px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" height="100%" valign="top">
                            <asp:Panel ID="Panel8" runat="server" Height="100%" ScrollBars="Both"  
                                Width="100%" BorderStyle="Inset" BorderWidth="1px">
                                        <asp:GridView ID="GdvCourseMaster" runat="server" 
                                            AutoGenerateColumns="False" Width="565px" Height="120px">
                                            <Columns>
                                                <asp:BoundField DataField="CourseCode" HeaderText="Course Code" 
                                                    HtmlEncode="False" >
                                                    <HeaderStyle Font-Size="Smaller" ForeColor="White" Wrap="False" />
                                                    <ItemStyle Wrap="False" />
                                                </asp:BoundField>
                                                <asp:BoundField DataField="Name" HeaderText="Name" HtmlEncode="False" 
                                                    HtmlEncodeFormatString="False" >
                                                    <HeaderStyle Font-Size="Smaller" ForeColor="White" Wrap="False" />
                                                    <ItemStyle Wrap="False" />
                                                </asp:BoundField>
                                                <asp:BoundField DataField="TimeNo" HeaderText="No." visible = "true" HtmlEncode="False" 
                                                    HtmlEncodeFormatString="False" >
                                                    <HeaderStyle Font-Size="Smaller" ForeColor="White" Wrap="False" />
                                                    <ItemStyle Wrap="False" />
                                                </asp:BoundField>
                                                <asp:BoundField DataField="TimeName" HeaderText="D/M/Y"  visible = "true" HtmlEncode="False" 
                                                    HtmlEncodeFormatString="False" >
                                                    <HeaderStyle Font-Size="Smaller" ForeColor="White" Wrap="False" />
                                                    <ItemStyle Wrap="False" />
                                                </asp:BoundField>
                                                <asp:BoundField DataField="Requirement" HeaderText="Requirement" visible = "true" HtmlEncode="False" 
                                                    HtmlEncodeFormatString="False" >
                                                    <HeaderStyle Font-Size="Smaller" ForeColor="White" Wrap="False" />
                                                    <ItemStyle Wrap="False" />
                                                </asp:BoundField>
                                                <asp:BoundField DataField="Delivery" HeaderText="Delivery" visible = "true" HtmlEncode="False" 
                                                    HtmlEncodeFormatString="False" >
                                                    <HeaderStyle Font-Size="Smaller" ForeColor="White" Wrap="False" />
                                                    <ItemStyle Wrap="False" />
                                                </asp:BoundField>                                                
                                                <asp:BoundField DataField="InternalExternal" HeaderText="InternalExternal" visible = "true" HtmlEncode="False" 
                                                    HtmlEncodeFormatString="False" >
                                                    <HeaderStyle Font-Size="Smaller" ForeColor="White" Wrap="False" />
                                                    <ItemStyle Wrap="False" />
                                                </asp:BoundField>                                                
                                                 <asp:BoundField DataField="Status" HeaderText="Status" visible = "true" HtmlEncode="False" 
                                                    HtmlEncodeFormatString="False" >
                                                    <HeaderStyle Font-Size="Smaller" ForeColor="White" Wrap="False" />
                                                    <ItemStyle Wrap="False" />
                                                </asp:BoundField>                                                
                                                <asp:BoundField DataField="AwardBody" HeaderText="AwardBody" visible = "true" HtmlEncode="False" 
                                                    HtmlEncodeFormatString="False" >
                                                    <HeaderStyle Font-Size="Smaller" ForeColor="White" Wrap="False" />
                                                    <ItemStyle Wrap="False" />
                                                </asp:BoundField>                                                
                                                <asp:BoundField DataField="Fees" HeaderText="Fees" visible = "true" HtmlEncode="False" 
                                                    HtmlEncodeFormatString="False" >
                                                    <HeaderStyle Font-Size="Smaller" ForeColor="White" Wrap="False" />
                                                    <ItemStyle Wrap="False" />
                                                </asp:BoundField>                                                
                                                <asp:BoundField DataField="Trainer" HeaderText="Trainer" visible = "true" HtmlEncode="False" 
                                                    HtmlEncodeFormatString="False" >
                                                    <HeaderStyle Font-Size="Smaller" ForeColor="White" Wrap="False" />
                                                    <ItemStyle Wrap="False" />
                                                </asp:BoundField>                                                
                                               <asp:BoundField DataField="Venue" HeaderText="Venue" visible = "true" HtmlEncode="False" 
                                                    HtmlEncodeFormatString="False" >
                                                    <HeaderStyle Font-Size="Smaller" ForeColor="White" Wrap="False" />
                                                    <ItemStyle Wrap="False" />
                                                </asp:BoundField>
                                                <asp:BoundField DataField="CLevel" HeaderText="Level" visible = "true" HtmlEncode="False" 
                                                    HtmlEncodeFormatString="False" >
                                                    <HeaderStyle Font-Size="Smaller" ForeColor="White" Wrap="False" />
                                                    <ItemStyle Wrap="False" />
                                                </asp:BoundField>
                                                <asp:BoundField DataField="RecNo" HeaderText="RecNo" visible = "true" HtmlEncode="False" 
                                                    HtmlEncodeFormatString="False" >
                                                    <HeaderStyle Font-Size="Smaller" ForeColor="White" Wrap="False" />
                                                    <ItemStyle Wrap="False" />
                                                </asp:BoundField>
                                            </Columns>
                                            <HeaderStyle BackColor="#0080C0" />
                                            <AlternatingRowStyle BackColor="#CAE4FF" />
                                        </asp:GridView>
                           </asp:Panel>
                        </td>
                    </tr>
                </table>
            </div>
        </ContentTemplate>
    </asp:UpdatePanel>
    </form>
    <script type="text/javascript">
        var prm = Sys.WebForms.PageRequestManager.getInstance();
        prm.add_initializeRequest(prm_InitializeRequest);
        prm.add_endRequest(prm_EndRequest);

        function prm_InitializeRequest(sender, args) {
            var panelProg = $get('divImage');
            if (args._postBackElement.id != "Timer1") {
            panelProg.style.display = '';}
        };

        function prm_EndRequest(sender, args) {
            var panelProg = $get('divImage');
            panelProg.style.display = 'none';
        };
    </script>
</body>
</html>