	/* WINDOWS */

/* ON MOVE */
.IDCWMWindowFrameRZTL_MV
{
	position:absolute;
	width:7px;
	height:7px;
	margin-left:-7px;
	margin-top:-7px;
	
	background-repeat:no-repeat;
	font-size:0px;
	border-left:solid 1px black;
	border-top:solid 1px black;
}
.IDCWMWindowFrameRZT_MV
{
	position:absolute;
	width:100%;
	height:7px;
	top:0px;
	margin-top:-7px;

	background-repeat:repeat-x;
	font-size:0px;

	border-top:solid 1px black;
}
.IDCWMWindowFrameRZTR_MV
{
	position:absolute;
	width:7px;
	height:7px;
	margin-right:-7px;
	margin-top:-7px;
	background-repeat:no-repeat;
	right:0px;
	font-size:0px;
	
	border-right:solid 1px black;
	border-top:solid 1px black;
}

.IDCWMWindowFrameRZL_MV
{
	position:absolute;
	width:7px;
	height:100%;
	margin-left:-7px;
	background-repeat:repeat-y;
	font-size:0px;
	
	border-left:solid 1px black;
}
.IDCWMWindowFrameRZR_MV
{
	position:absolute;
	width:7px;
	height:100%;
	right:0px;
	margin-right:-7px;
	background-repeat:repeat-y;
	font-size:0px;
	
	border-right:solid 1px black;
}

.IDCWMWindowFrameRZBL_MV
{
	position:absolute;
	width:7px;
	height:7px;
	margin-left:-7px;
	margin-bottom:-7px;
	background-repeat:no-repeat;
	bottom:0px;
	font-size:0px;
	
	border-bottom:solid 1px black;
	border-left:solid 1px black;
}
.IDCWMWindowFrameRZB_MV
{
	position:absolute;
	width:100%;
	height:7px;
	margin-bottom:-7px;
	bottom:0px;
	background-repeat:repeat-x;
	font-size:0px;
	
	border-bottom:solid 1px black;
}
.IDCWMWindowFrameRZBR_MV
{
	position:absolute;
	width:7px;
	height:7px;
	margin-right:-7px;
	margin-bottom:-7px;
	background-color:Transparent;
	background-repeat:no-repeat;
	right:0px;
	bottom:0px;
	font-size:0px;
	
	border-right:solid 1px black;
	border-bottom:solid 1px black;
}

.IDCWMWindowFrameCenter_MV
{
	position:absolute;
}


/* NORMAL */
.IDCWMWindowFrame
{
	position:absolute;
	/* Webkit browser apparently doens't accept the border-sizing correctly, so a fix is used here... */
	
	font-size:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowFrameTitleBar
{
	background-image:url(opaque/windowBack.png);
	font-size:0px;
	width:100%;
	height:24px;
	font-size:12px;
	position:absolute;
	position:inherit;
}
.IDCWMWindowFrameTitleBarTextContainer
{
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	
}
.IDCWMWindowFrameTitleBarText
{
	font-size:12px;
	color:#3a3a3a;
	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:4px;
	display:inline-block;
	white-space:nowrap;
	background-image:url(opaque/windowTitleText.png);
	background-repeat:no-repeat;
	background-position: right center;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarIcon
{
	margin-bottom:6px;
	margin-top:2px;
	width:16px;
	height:16px;
	background-image:url(opaque/windowTitleIcon.png);
	background-repeat:no-repeat;
	background-position: right center;
}
.IDCWMWindowFrameTitleBarControls
{
	width:105px;
	height:21px;
	background-image:url(opaque/windowControlsBack.png);
	position:absolute;
	margin-top:-6px;
	right:0px;
	top:0px;
}

.IDCWMWindowFrameTitleBarControlsCloseOnly
{
	width:51px;
	height:21px;
	background-image:url(opaque/windowControlsCloseOnly.png);
	background-position:1px 0px;
	background-repeat:no-repeat;
	position:absolute;
	margin-top:-6px;
	padding-right:2px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarControlsCloseOnlyHover
{
	width:70px;
	height:42px;
	background-image:url(opaque/windowControlsCloseOnlyHover.png);
	background-position:1px 0px;
	background-repeat:no-repeat;
	position:absolute;
	margin-top:-17px;
	padding-top:11px;
	margin-right:-9px;
	padding-left:10px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowFrameTitleBarControlsButton3Hover
{
	width:126px;
	height:43px;
	background-image:url(opaque/windowControlsBackButton3Hover.png);
	position:absolute;
	margin-top:-17px;
	padding-top:11px;
	margin-right:-10px;
	padding-left:11px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarControlsButton2Hover
{
	width:126px;
	height:43px;
	background-image:url(opaque/windowControlsBackButton2Hover.png);
	position:absolute;
	margin-top:-17px;
	padding-top:11px;
	margin-right:-10px;
	padding-left:11px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarControlsButton1Hover
{
	width:126px;
	height:43px;
	background-image:url(opaque/windowControlsBackButton1Hover.png);
	position:absolute;
	margin-top:-17px;
	padding-top:11px;
	margin-right:-10px;
	padding-left:11px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowFrameTitleBarControlsButtonClose
{
	background-image:url(opaque/cmdClose.png);
	background-position:13px 2px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:48px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMinimize
{
	background-image:url(opaque/cmdMinimize.png);
	background-position:3px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMaximize
{
	background-image:url(opaque/cmdMaximize.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsRestore
{
	background-image:url(opaque/cmdRestore.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}

.IDCWMWindowFrameTitleBarControlsButtonCloseDisabled
{
	background-image:url(opaque/cmdCloseDisabled.png);
	background-position:13px 2px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:48px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMinimizeDisabled
{
	background-image:url(opaque/cmdMinimizeDisabled.png);
	background-position:3px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMaximizeDisabled
{
	background-image:url(opaque/cmdMaximizeDisabled.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsRestoreDisabled
{
	background-image:url(opaque/cmdRestoreDisabled.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}

.IDCWMWindowFrameTitleBarControlsContainer
{
	width:105px;
	height:21px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowOuterTdContentFrame
{
	width:100%;
	height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;

}

.IDCWMWindowIFrameOuterBox
{
	width:100%;
	height:100%;

	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;

	border:solid 1px #f2f6fa;
}
.IDCWMWindowIFrame
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	background-color:white;
	border:solid 1px #787e85;
	width:100%;
	height:100%;
}

.IDCWMWindowFrameRZTL
{
	position:absolute;
	width:15px;
	height:15px;
	margin-left:-15px;
	margin-top:-15px;
	background-image:url(opaque/windowTopLeft.png);
	background-repeat:no-repeat;
	font-size:0px;
}
.IDCWMWindowFrameRZT
{
	position:absolute;
	width:100%;
	height:15px;
	top:0px;
	margin-top:-15px;
	background-image:url(opaque/windowTop.png);
	background-repeat:repeat-x;
	font-size:0px;
}
.IDCWMWindowFrameRZTR
{
	position:absolute;
	width:15px;
	height:15px;
	margin-right:-15px;
	margin-top:-15px;
	background-image:url(opaque/windowTopRight.png);
	background-repeat:no-repeat;
	right:0px;
	font-size:0px;
}

.IDCWMWindowFrameRZL
{
	position:absolute;
	width:15px;
	height:100%;
	margin-left:-15px;
	background-image:url(opaque/windowLeft.png);
	background-repeat:repeat-y;
	font-size:0px;
}
.IDCWMWindowFrameRZR
{
	position:absolute;
	width:15px;
	height:100%;
	right:0px;
	margin-right:-15px;
	background-image:url(opaque/windowRight.png);
	background-repeat:repeat-y;
	font-size:0px;
}

.IDCWMWindowFrameRZBL
{
	position:absolute;
	width:15px;
	height:15px;
	margin-left:-15px;
	margin-bottom:-15px;
	background-image:url(opaque/windowBottomLeft.png);
	background-repeat:no-repeat;
	bottom:0px;
	font-size:0px;
}
.IDCWMWindowFrameRZB
{
	position:absolute;
	width:100%;
	height:15px;
	margin-bottom:-15px;
	bottom:0px;
	background-image:url(opaque/windowBottom.png);
	background-repeat:repeat-x;
	font-size:0px;
}
.IDCWMWindowFrameRZBR
{
	position:absolute;
	width:15px;
	height:15px;
	margin-right:-15px;
	margin-bottom:-15px;
	background-image:url(opaque/windowBottomRight.png);
	background-color:Transparent;
	background-repeat:no-repeat;
	right:0px;
	bottom:0px;
	font-size:0px;
}

.IDCWMWindowFrameCenter
{
	position:absolute;
	background-image:url(opaque/windowCenter.png);
}












/* FOCUSED */
.IDCWMWindowFrameFocused
{
	position:absolute;
	/* Webkit browser apparently doens't accept the border-sizing correctly, so a fix is used here... */
	
	font-size:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowFrameTitleBarFocused
{
	background-image:url(opaque/windowBackFocused.png);
	font-size:0px;
	width:100%;
	height:24px;
	font-size:12px;
	position:absolute;
	position:inherit;
}
.IDCWMWindowFrameTitleBarTextContainerFocused
{
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	
}
.IDCWMWindowFrameTitleBarTextFocused
{
	font-size:12px;
	color:#3a3a3a;
	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:4px;
	display:inline-block;
	white-space:nowrap;
	background-image:url(opaque/windowTitleText.png);
	background-repeat:no-repeat;
	background-position: right center;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarIconFocused
{
	margin-bottom:6px;
	margin-top:2px;
	width:16px;
	height:16px;
	background-image:url(opaque/windowTitleIcon.png);
	background-repeat:no-repeat;
	background-position: right center;
}
.IDCWMWindowFrameTitleBarControlsFocused
{
	width:105px;
	height:21px;
	background-image:url(opaque/windowControlsBackFocused.png);
	position:absolute;
	margin-top:-6px;
	right:0px;
	top:0px;
}

.IDCWMWindowFrameTitleBarControlsCloseOnlyFocused
{
	width:51px;
	height:21px;
	background-image:url(opaque/windowControlsCloseOnlyFocus.png);
	background-position:1px 0px;
	background-repeat:no-repeat;
	position:absolute;
	margin-top:-6px;
	padding-right:1px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarControlsCloseOnlyHoverFocused
{
	width:70px;
	height:42px;
	background-image:url(opaque/windowControlsCloseOnlyHover.png);
	background-position:1px 0px;
	background-repeat:no-repeat;
	position:absolute;
	margin-top:-17px;
	padding-top:11px;
	margin-right:-9px;
	padding-left:10px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowFrameTitleBarControlsButton3HoverFocused
{
	width:126px;
	height:43px;
	background-image:url(opaque/windowControlsBackButton3FocusHover.png);
	position:absolute;
	margin-top:-17px;
	padding-top:11px;
	margin-right:-10px;
	padding-left:11px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarControlsButton2HoverFocused
{
	width:126px;
	height:43px;
	background-image:url(opaque/windowControlsBackButton2FocusHover.png);
	position:absolute;
	margin-top:-17px;
	padding-top:11px;
	margin-right:-10px;
	padding-left:11px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarControlsButton1HoverFocused
{
	width:126px;
	height:43px;
	background-image:url(opaque/windowControlsBackButton1FocusHover.png);
	position:absolute;
	margin-top:-17px;
	padding-top:11px;
	margin-right:-10px;
	padding-left:11px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowFrameTitleBarControlsButtonCloseFocused
{
	background-image:url(opaque/cmdClose.png);
	background-position:13px 2px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:48px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMinimizeFocused
{
	background-image:url(opaque/cmdMinimize.png);
	background-position:3px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMaximizeFocused
{
	background-image:url(opaque/cmdMaximize.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsRestoreFocused
{
	background-image:url(opaque/cmdRestore.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}

.IDCWMWindowFrameTitleBarControlsButtonCloseDisabledFocused
{
	background-image:url(opaque/cmdCloseDisabled.png);
	background-position:13px 2px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:48px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMinimizeDisabledFocused
{
	background-image:url(opaque/cmdMinimizeDisabled.png);
	background-position:3px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMaximizeDisabledFocused
{
	background-image:url(opaque/cmdMaximizeDisabled.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsRestoreDisabledFocused
{
	background-image:url(opaque/cmdRestoreDisabled.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}

.IDCWMWindowFrameTitleBarControlsContainerFocused
{
	width:105px;
	height:21px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowOuterTdContentFrameFocused
{
	width:100%;
	height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowIFrameOuterBoxFocused
{
	width:100%;
	height:100%;

	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;

	border:solid 1px #f2f6fa;
}
.IDCWMWindowIFrameFocused
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	background-color:white;
	border:solid 1px #787e85;
	width:100%;
	height:100%;
}

.IDCWMWindowFrameRZTLFocused
{
	position:absolute;
	width:15px;
	height:15px;
	margin-left:-15px;
	margin-top:-15px;
	background-image:url(opaque/windowTopLeftFocused.png);
	background-repeat:no-repeat;
	font-size:0px;
}
.IDCWMWindowFrameRZTFocused
{
	position:absolute;
	width:100%;
	height:15px;
	top:0px;
	margin-top:-15px;
	background-image:url(opaque/windowTopFocused.png);
	background-repeat:repeat-x;
	font-size:0px;
}
.IDCWMWindowFrameRZTRFocused
{
	position:absolute;
	width:15px;
	height:15px;
	margin-right:-15px;
	margin-top:-15px;
	background-image:url(opaque/windowTopRightFocused.png);
	background-repeat:no-repeat;
	right:0px;
	font-size:0px;
}

.IDCWMWindowFrameRZLFocused
{
	position:absolute;
	width:15px;
	height:100%;
	margin-left:-15px;
	background-image:url(opaque/windowLeftFocused.png);
	background-repeat:repeat-y;
	font-size:0px;
}
.IDCWMWindowFrameRZRFocused
{
	position:absolute;
	width:15px;
	height:100%;
	right:0px;
	margin-right:-15px;
	background-image:url(opaque/windowRightFocused.png);
	background-repeat:repeat-y;
	font-size:0px;
}

.IDCWMWindowFrameRZBLFocused
{
	position:absolute;
	width:15px;
	height:15px;
	margin-left:-15px;
	margin-bottom:-15px;
	background-image:url(opaque/windowBottomLeftFocused.png);
	background-repeat:no-repeat;
	bottom:0px;
	font-size:0px;
}
.IDCWMWindowFrameRZBFocused
{
	position:absolute;
	width:100%;
	height:15px;
	margin-bottom:-15px;
	bottom:0px;
	background-image:url(opaque/windowBottomFocused.png);
	background-repeat:repeat-x;
	font-size:0px;
}
.IDCWMWindowFrameRZBRFocused
{
	position:absolute;
	width:15px;
	height:15px;
	margin-right:-15px;
	margin-bottom:-15px;
	background-image:url(opaque/windowBottomRightFocused.png);
	background-repeat:no-repeat;
	right:0px;
	bottom:0px;
	font-size:0px;
}











/* MAXIMIZED */
.IDCWMWindowFrameMaximized
{
	position:absolute;
	/* Webkit browser apparently doens't accept the border-sizing correctly, so a fix is used here... */
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	font-size:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowFrameTitleBarMaximized
{
	background-image:url(opaque/windowBack.png);
	font-size:0px;
	width:100%;
	height:24px;
	margin-top:0px;
	font-size:12px;
	position:absolute;
	position:inherit;
}
.IDCWMWindowFrameTitleBarTextContainerMaximized
{
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	
}
.IDCWMWindowFrameTitleBarTextMaximized
{
	font-size:12px;
	color:#3a3a3a;
	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:4px;
	display:inline-block;
	white-space:nowrap;
	background-image:url(opaque/windowTitleText.png);
	background-repeat:no-repeat;
	background-position: right center;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarIconMaximized
{
	margin-bottom:6px;
	margin-top:2px;
	width:16px;
	height:16px;
	background-image:url(opaque/windowTitleIcon.png);
	background-repeat:no-repeat;
	background-position: right center;
}
.IDCWMWindowFrameTitleBarControlsMaximized
{
	width:105px;
	height:21px;
	background-image:url(opaque/windowControlsBack.png);
	position:absolute;
	margin-top:-1px;
	right:0px;
	top:0px;
}

.IDCWMWindowFrameTitleBarControlsCloseOnlyMaximized
{
	width:51px;
	height:21px;
	background-image:url(opaque/windowControlsCloseOnly.png);
	background-position:1px 0px;
	background-repeat:no-repeat;
	position:absolute;
	margin-top:-1px;
	padding-right:1px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarControlsCloseOnlyHoverMaximized
{
	width:70px;
	height:42px;
	background-image:url(opaque/windowControlsCloseOnlyHover.png);
	background-position:1px 0px;
	background-repeat:no-repeat;
	position:absolute;
	margin-top:-12px;
	padding-top:11px;
	margin-right:-9px;
	padding-left:10px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowFrameTitleBarControlsButton3HoverMaximized
{
	width:126px;
	height:43px;
	background-image:url(opaque/windowControlsBackButton3Hover.png);
	position:absolute;
	margin-top:-12px;
	padding-top:11px;
	margin-right:-10px;
	padding-left:11px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarControlsButton2HoverMaximized
{
	width:126px;
	height:43px;
	background-image:url(opaque/windowControlsBackButton2Hover.png);
	position:absolute;
	margin-top:-12px;
	padding-top:11px;
	margin-right:-10px;
	padding-left:11px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarControlsButton1HoverMaximized
{
	width:126px;
	height:43px;
	background-image:url(opaque/windowControlsBackButton1Hover.png);
	position:absolute;
	margin-top:-12px;
	padding-top:11px;
	margin-right:-10px;
	padding-left:11px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowFrameTitleBarControlsButtonCloseMaximized
{
	background-image:url(opaque/cmdClose.png);
	background-position:13px 2px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:48px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMinimizeMaximized
{
	background-image:url(opaque/cmdMinimize.png);
	background-position:3px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMaximizeMaximized
{
	background-image:url(opaque/cmdMaximize.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsRestoreMaximized
{
	background-image:url(opaque/cmdRestore.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}

.IDCWMWindowFrameTitleBarControlsButtonCloseDisabledMaximized
{
	background-image:url(opaque/cmdCloseDisabled.png);
	background-position:13px 2px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:48px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMinimizeDisabledMaximized
{
	background-image:url(opaque/cmdMinimizeDisabled.png);
	background-position:3px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMaximizeDisabledMaximized
{
	background-image:url(opaque/cmdMaximizeDisabled.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsRestoreDisabledMaximized
{
	background-image:url(opaque/cmdRestoreDisabled.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}

.IDCWMWindowFrameTitleBarControlsContainerMaximized
{
	width:105px;
	height:21px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowOuterTdContentFrameMaximized
{
	width:100%;
	height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;

}

.IDCWMWindowIFrameOuterBoxMaximized
{
	width:100%;
	height:100%;

	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	border-left:none;
	border-right:none;
	border-top:solid 1px #f2f6fa;
	border-bottom:solid 40px transparent;
}
.IDCWMWindowIFrameMaximized
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	background-color:white;
	border-top:solid 1px #787e85;
	border-left:none;
	border-right:none;
	width:100%;
	height:100%;
}

.IDCWMWindowFrameRZTLMaximized
{
	position:absolute;
	font-size:0px;
	display:none;
}
.IDCWMWindowFrameRZTMaximized
{
	position:absolute;
	width:100%;
	font-size:0px;
	display:none;
	top:0px;
	display:none;
}
.IDCWMWindowFrameRZTRMaximized
{
	position:absolute;
	right:0px;
	font-size:0px;
	display:none;
}

.IDCWMWindowFrameRZLMaximized
{
	position:absolute;
	height:100%;
	font-size:0px;
	display:none;
}
.IDCWMWindowFrameRZRMaximized
{
	position:absolute;
	height:100%;
	right:0px;
	font-size:0px;
	display:none;
}

.IDCWMWindowFrameRZBLMaximized
{
	position:absolute;
	bottom:0px;
	font-size:0px;
	display:none;
}
.IDCWMWindowFrameRZBMaximized
{
	position:relative;
	width:100%;
	font-size:0px;
	bottom:0px;
	display:none;
}
.IDCWMWindowFrameRZBRMaximized
{
	position:absolute;
	right:0px;
	bottom:0px;
	font-size:0px;
	display:none;
}















/* MAXIMIZED WITH FOCUS */
.IDCWMWindowFrameFocusedMaximized
{
	position:absolute;
	/* Webkit browser apparently doens't accept the border-sizing correctly, so a fix is used here... */
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	font-size:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowFrameTitleBarFocusedMaximized
{
	background-image:url(opaque/windowBackFocused.png);
	font-size:0px;
	width:100%;
	height:24px;
	margin-top:0px;
	font-size:12px;
	position:absolute;
	position:inherit;
}
.IDCWMWindowFrameTitleBarTextContainerFocusedMaximized
{
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	
}
.IDCWMWindowFrameTitleBarTextFocusedMaximized
{
	font-size:12px;
	color:#3a3a3a;
	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:4px;
	display:inline-block;
	white-space:nowrap;
	background-image:url(opaque/windowTitleText.png);
	background-repeat:no-repeat;
	background-position: right center;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarIconFocusedMaximized
{
	margin-bottom:6px;
	margin-top:2px;
	width:16px;
	height:16px;
	background-image:url(opaque/windowTitleIcon.png);
	background-repeat:no-repeat;
	background-position: right center;
}
.IDCWMWindowFrameTitleBarControlsFocusedMaximized
{
	width:105px;
	height:21px;
	background-image:url(opaque/windowControlsBackFocused.png);
	position:absolute;
	margin-top:-1px;
	right:0px;
	top:0px;
}

.IDCWMWindowFrameTitleBarControlsCloseOnlyFocusedMaximized
{
	width:51px;
	height:21px;
	background-image:url(opaque/windowControlsCloseOnlyFocus.png);
	background-position:1px 0px;
	background-repeat:no-repeat;
	position:absolute;
	margin-top:-1px;
	padding-right:1px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarControlsCloseOnlyHoverFocusedMaximized
{
	width:70px;
	height:42px;
	background-image:url(opaque/windowControlsCloseOnlyHover.png);
	background-position:1px 0px;
	background-repeat:no-repeat;
	position:absolute;
	margin-top:-12px;
	padding-top:11px;
	margin-right:-9px;
	padding-left:10px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowFrameTitleBarControlsButton3HoverFocusedMaximized
{
	width:126px;
	height:43px;
	background-image:url(opaque/windowControlsBackButton3FocusHover.png);
	position:absolute;
	margin-top:-12px;
	padding-top:11px;
	margin-right:-10px;
	padding-left:11px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarControlsButton2HoverFocusedMaximized
{
	width:126px;
	height:43px;
	background-image:url(opaque/windowControlsBackButton2FocusHover.png);
	position:absolute;
	margin-top:-12px;
	padding-top:11px;
	margin-right:-10px;
	padding-left:11px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.IDCWMWindowFrameTitleBarControlsButton1HoverFocusedMaximized
{
	width:126px;
	height:43px;
	background-image:url(opaque/windowControlsBackButton1FocusHover.png);
	position:absolute;
	margin-top:-12px;
	padding-top:11px;
	margin-right:-10px;
	padding-left:11px;
	right:0px;
	top:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowFrameTitleBarControlsButtonCloseFocusedMaximized
{
	background-image:url(opaque/cmdClose.png);
	background-position:13px 2px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:48px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMinimizeFocusedMaximized
{
	background-image:url(opaque/cmdMinimize.png);
	background-position:3px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMaximizeFocusedMaximized
{
	background-image:url(opaque/cmdMaximize.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsRestoreFocusedMaximized
{
	background-image:url(opaque/cmdRestore.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}

.IDCWMWindowFrameTitleBarControlsButtonCloseDisabledFocusedMaximized
{
	background-image:url(opaque/cmdCloseDisabled.png);
	background-position:13px 2px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:48px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMinimizeDisabledFocusedMaximized
{
	background-image:url(opaque/cmdMinimizeDisabled.png);
	background-position:3px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsMaximizeDisabledFocusedMaximized
{
	background-image:url(opaque/cmdMaximizeDisabled.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}
.IDCWMWindowFrameTitleBarControlsRestoreDisabledFocusedMaximized
{
	background-image:url(opaque/cmdRestoreDisabled.png);
	background-position:4px 1px;
	background-repeat:no-repeat;
	cursor:pointer;
	width:27px;
	height:20px;
	display:inline-block;
}

.IDCWMWindowFrameTitleBarControlsContainerFocusedMaximized
{
	width:105px;
	height:21px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMWindowOuterTdContentFrameFocusedMaximized
{
	width:100%;
	height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;

}

.IDCWMWindowIFrameOuterBoxFocusedMaximized
{
	width:100%;
	height:100%;

	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	border-left:none;
	border-right:none;
	border-top:solid 1px #f2f6fa;
	border-bottom:solid 40px transparent;
}
.IDCWMWindowIFrameFocusedMaximized
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	background-color:white;
	border-top:solid 1px #787e85;
	border-left:none;
	border-right:none;
	width:100%;
	height:100%;
}

.IDCWMWindowFrameRZTLFocusedMaximized
{
	position:absolute;
	font-size:0px;
	display:none;
}
.IDCWMWindowFrameRZTFocusedMaximized
{
	position:absolute;
	width:100%;
	font-size:0px;
	display:none;
	top:0px;
	display:none;
}
.IDCWMWindowFrameRZTRFocusedMaximized
{
	position:absolute;
	right:0px;
	font-size:0px;
	display:none;
}

.IDCWMWindowFrameRZLFocusedMaximized
{
	position:absolute;
	height:100%;
	font-size:0px;
	display:none;
}
.IDCWMWindowFrameRZRFocusedMaximized
{
	position:absolute;
	height:100%;
	right:0px;
	font-size:0px;
	display:none;
}

.IDCWMWindowFrameRZBLFocusedMaximized
{
	position:absolute;
	bottom:0px;
	font-size:0px;
	display:none;
}
.IDCWMWindowFrameRZBFocusedMaximized
{
	position:relative;
	width:100%;
	font-size:0px;
	bottom:0px;
	display:none;
}
.IDCWMWindowFrameRZBRFocusedMaximized
{
	position:absolute;
	right:0px;
	bottom:0px;
	font-size:0px;
	display:none;
}













/* MINIMIZED */
.IDCWMWindowFrameMinimized
{
	position:absolute;
	display:none;
}













/* DESKTOP */
.IDCWMDesktop
{
	display:inline-block;
	width:100%;
	height:100%; 
	overflow:hidden;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	background-color: #2893d7; 
}

.IDCWMDesktopBackgroundImage
{
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #2893d7; 
	background-image:url(090_o/desktopDefault.jpg);
}


/* TASKBAR */
.IDCWMDesktopTaskbar
{
	display:block;
	width:100%;
	height:40px; 
	background-image:url(opaque/taskbarBackground.png);
	position:absolute; 
	z-index:249999;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	bottom:0px;
}

.IDCWMDesktopTaskbarNotifyArea
{
	height:40px;
	right:0px;
	bottom:0px;
	padding-left:40px;
	display:inline-block;
	background-image:url(opaque/notifyAreaBack.png);
	background-position: 0 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	z-index:250000;
	color:White;
	position:absolute;
}

.IDCWMDesktopTaskbarContextBackground
{
	display:block;
	padding:1px;
	font-size:12px;
	color:Black;
	border:solid 1px #464a4f;
	background-color:#fefefe;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMDesktopTaskbarContextMenuItem
{
	font-size:12px;
	color:Black;
	padding-left:20px;
	padding-right:5px;
	background-repeat:no-repeat;
	background-position:2px center;
	display:block;
	cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	height:24px;
	padding-top:4px;
	white-space:nowrap;
	width:100%;
}
.IDCWMDesktopTaskbarContextMenuItemHover
{
	font-size:12px;
	color:black;
	padding-left:19px;
	padding-right:4px;
	background-repeat:no-repeat;
	background-position:1px center;
	display:block;
	background-color:#d0e3fc;
	cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	height:24px;
	vertical-align:middle;
	padding-top:3px;
	border:solid 1px #7da2ce;
	white-space:nowrap;
	width:100%;
}

.IDCWMDesktopTaskbarContextMenuCloseItem
{
	font-size:12px;
	color:Black;
	padding-left:20px;
	padding-right:5px;
	background-repeat:no-repeat;
	background-position:2px center;
	display:block;
	cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	height:24px;
	padding-top:4px;
	background-image:url(opaque/cmdCtxClose.png);
}
.IDCWMDesktopTaskbarContextMenuCloseItemHover
{
	font-size:12px;
	color:black;
	padding-left:19px;
	padding-right:4px;
	background-repeat:no-repeat;
	background-position:1px center;
	display:block;
	background-color:#d0e3fc;
	cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	height:24px;
	vertical-align:middle;
	padding-top:3px;
	background-image:url(opaque/cmdCtxClose.png);
	border:solid 1px #7da2ce;
}

.IDCWMDesktopTaskbarContextMenuPinItem
{
	font-size:12px;
	color:Black;
	padding-left:20px;
	padding-right:5px;
	background-repeat:no-repeat;
	background-position:2px center;
	display:block;
	cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	height:24px;
	padding-top:4px;
	background-image:url(opaque/cmdCtxPin.png);
}
.IDCWMDesktopTaskbarContextMenuPinItemHover
{
	font-size:12px;
	color:black;
	padding-left:19px;
	padding-right:4px;
	background-repeat:no-repeat;
	background-position:1px center;
	display:block;
	background-color:#d0e3fc;
	cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	height:24px;
	vertical-align:middle;
	padding-top:3px;
	background-image:url(opaque/cmdCtxPin.png);
	border:solid 1px #7da2ce;
}

.IDCWMDesktopTaskbarContextMenuUnPinItem
{
	font-size:12px;
	color:Black;
	padding-left:20px;
	padding-right:5px;
	background-repeat:no-repeat;
	background-position:2px center;
	display:block;
	cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	height:24px;
	padding-top:4px;
	background-image:url(opaque/cmdCtxPin.png);
}
.IDCWMDesktopTaskbarContextMenuUnPinItemHover
{
	font-size:12px;
	color:black;
	padding-left:19px;
	padding-right:4px;
	background-repeat:no-repeat;
	background-position:1px center;
	display:block;
	background-color:#d0e3fc;
	cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	height:24px;
	vertical-align:middle;
	padding-top:3px;
	background-image:url(opaque/cmdCtxPin.png);
	border:solid 1px #7da2ce;
}

.IDCWMDesktopTaskbarCommandButton
{
	display:inline-block;
	width:60px;
	overflow:hidden;
	height:40px;
	background-repeat:no-repeat;
	margin-left:3px;
	cursor:pointer;
}
.IDCWMDesktopTaskbarCommandButtonAnimating
{
	display:inline-block;
	width:60px;
	overflow:hidden;
	height:40px;
	background-repeat:no-repeat;
	margin-left:3px;
	cursor:pointer;
	background-image:url(opaque/taskbarButtonExecute.png);
}
.IDCWMDesktopTaskbarCommandButtonHover
{
	display:inline-block;
	width:60px;
	overflow:hidden;
	height:40px;
	background-image:url(opaque/taskbarButtonCommandHover.png);
	background-repeat:no-repeat;
	margin-left:3px;
	cursor:pointer;
}
.IDCWMDesktopTaskbarCommandButtonMouseOver
{
	position:fixed;
	z-index:-1;
	display:inline;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOver.png);
	background-repeat:no-repeat;
	clip:rect(2px 58px 38px 2px);
}

.IDCWMDesktopTaskbarButton
{
	display:inline-block;
	width:60px;
	overflow:hidden;
	height:40px;
	background-image:url(opaque/taskbarButtonBack.png);
	background-repeat:no-repeat;
	margin-left:3px;
	cursor:pointer;
}
.IDCWMDesktopTaskbarButtonFocused
{
	display:inline-block;
	width:60px;
	overflow:hidden;
	height:40px;
	background-image:url(opaque/taskbarButtonBackFocused.png);
	background-repeat:no-repeat;
	margin-left:3px;
	cursor:pointer;
}

.IDCWMDesktopTaskbarButtonMouseOver
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOver.png);
	background-repeat:no-repeat;
	clip:rect(2px 58px 38px 2px);
}
.IDCWMDesktopTaskbarButtonMouseOver_green
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverGreen.png);
	background-repeat:no-repeat;
	clip:rect(2px 58px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOver_red
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverRed.png);
	background-repeat:no-repeat;
	clip:rect(2px 58px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOver_purple
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverPurple.png);
	background-repeat:no-repeat;
	clip:rect(2px 58px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOver_yellow
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverYellow.png);
	background-repeat:no-repeat;
	clip:rect(2px 58px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverFocused
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOver.png);
	background-repeat:no-repeat;
	clip:rect(2px 58px 38px 2px);
}
.IDCWMDesktopTaskbarButtonMouseOverFocused_green
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverGreen.png);
	background-repeat:no-repeat;
	clip:rect(2px 58px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverFocused_red
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverRed.png);
	background-repeat:no-repeat;
	clip:rect(2px 58px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverFocused_purple
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverPurple.png);
	background-repeat:no-repeat;
	clip:rect(2px 58px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverFocused_yellow
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverYellow.png);
	background-repeat:no-repeat;
	clip:rect(2px 58px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverPrimary
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOver.png);
	background-repeat:no-repeat;
	clip:rect(2px 55px 38px 2px);
}
.IDCWMDesktopTaskbarButtonMouseOverPrimary_green
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverGreen.png);
	background-repeat:no-repeat;
	clip:rect(2px 55px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverPrimary_red
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverRed.png);
	background-repeat:no-repeat;
	clip:rect(2px 55px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverPrimary_purple
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverPurple.png);
	background-repeat:no-repeat;
	clip:rect(2px 55px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverPrimary_yellow
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverYellow.png);
	background-repeat:no-repeat;
	clip:rect(2px 55px 38px 2px);
}


.IDCWMDesktopTaskbarButtonMouseOverPrimaryFocused
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOver.png);
	background-repeat:no-repeat;
	clip:rect(2px 55px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverPrimaryFocused_green
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverGreen.png);
	background-repeat:no-repeat;
	clip:rect(2px 55px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverPrimaryFocused_red
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverRed.png);
	background-repeat:no-repeat;
	clip:rect(2px 55px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverPrimaryFocused_purple
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverPurple.png);
	background-repeat:no-repeat;
	clip:rect(2px 55px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverPrimaryFocused_yellow
{
	position:absolute;
	z-index:-1;
	display:block;
	width:100px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverYellow.png);
	background-repeat:no-repeat;
	clip:rect(2px 55px 38px 2px);
}

.IDCWMDesktopTaskbarButtonIcon
{
	display:inline-block;
	width:60px;
	overflow:hidden;
	height:40px;
	background-position:center center;
	background-repeat:no-repeat;
}
.IDCWMDesktopTaskbarButtonIconFocused
{
	display:inline-block;
	width:60px;
	overflow:hidden;
	height:40px;
	background-position:center center;
	background-repeat:no-repeat;
	cursor:pointer;
}

.IDCWMDesktopTaskbarButtonGroupPrimary
{
	margin-left:3px;
	display:inline-block;
	width:57px;
	overflow:hidden;
	height:40px;
	background-image:url(opaque/taskbarButtonPrimaryBack.png);
	cursor:pointer;
}
.IDCWMDesktopTaskbarButtonGroupPrimaryFocused
{
	margin-left:3px;
	display:inline-block;
	width:57px;
	overflow:hidden;
	height:40px;
	background-image:url(opaque/taskbarButtonPrimaryBackFocused.png);
	cursor:pointer;
}
.IDCWMDesktopTaskbarButtonGroupChild
{
	display:inline-block;
	width:3px;
	overflow:hidden;
	height:40px;
	background-image:url(opaque/taskbarButtonChildBack.png);
	cursor:pointer;
}
.IDCWMDesktopTaskbarButtonGroupChildFocused
{
	display:inline-block;
	width:3px;
	overflow:hidden;
	height:40px;
	background-image:url(opaque/taskbarButtonChildBackFocused.png);
	cursor:pointer;
}


.IDCWMDesktopTaskbarMultipleWindows
{
	background-image:url(opaque/windowBackFocused.png);

}

.IDCWMDesktopTaskbarMultipleWindowsTL
{
	background-image:url(opaque/windowTopLeftFocused.png);
	width:15px;
	height:15px;
}
.IDCWMDesktopTaskbarMultipleWindowsT
{
	background-image:url(opaque/windowTopFocused.png);
	height:15px;
}
.IDCWMDesktopTaskbarMultipleWindowsTR
{
	background-image:url(opaque/windowTopRightFocused.png);
	width:15px;
	height:15px;
}
.IDCWMDesktopTaskbarMultipleWindowsL
{
	background-image:url(opaque/windowLeftFocused.png);
	width:15px;
}
.IDCWMDesktopTaskbarMultipleWindowsR
{
	background-image:url(opaque/windowRightFocused.png);
	width:15px;
}
.IDCWMDesktopTaskbarMultipleWindowsBL
{
	background-image:url(opaque/windowBottomLeftFocused.png);
	width:15px;
	height:15px;
}
.IDCWMDesktopTaskbarMultipleWindowsB
{
	background-image:url(opaque/windowBottomFocused.png);
	height:15px;
}
.IDCWMDesktopTaskbarMultipleWindowsBR
{
	background-image:url(opaque/windowBottomRightFocused.png);
	width:15px;
	height:15px;
}

.IDCWMDesktopTaskbarMultipleWindowsButton
{
	width:200px;
	height:130px;
	display:inline-block;
	padding:5px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMDesktopTaskbarMultipleWindowsButtonTitle
{
	background-repeat:no-repeat;
	padding-left:20px;
	overflow:hidden;
	width:190px;
	height:16px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	font-size:12px;
	color:Black;
	cursor:pointer;
}

.IDCWMDesktopTaskbarMultipleWindowsButtonThumbnail
{
	margin-top:5px;
	background-repeat:no-repeat;
	background-position:center center;
	overflow:hidden;
	width:190px;
	height:99px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMDesktopTaskbarMultipleWindowsButtonHover
{
	width:200px;
	height:130px;
	display:inline-block;
	background-image:url(opaque/taskbarButtonPreviewHover.png);
	padding:5px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
}

.IDCWMDesktopTaskbarMultipleWindowsButtonFocused
{
	width:200px;
	height:130px;
	display:inline-block;
	background-image:url(opaque/taskbarButtonPreviewFocused.png);
	padding:5px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
}

.IDCWMDesktopTaskbarMultipleWindowsButtonHoverFocused
{
	width:200px;
	height:130px;
	display:inline-block;
	background-image:url(opaque/taskbarButtonPreviewHover.png);
	padding:5px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
}



/* DIALOG STUFF */
.IDCWMDialogBack
{
	margin:0px;
	font-family:Arial;
	font-size:12px;
	color:black;
}

.IDCWMDialogButtonsBackground
{
	text-align:right;
	padding:8px;
	background-color: #f3f3f3;
	border-top:solid 1px #ffffff;
	font-size:12px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	
}
.IDCWMDialogContentBackground
{
	padding-left:8px;
	padding-right:8px;
	padding-top:12px;
	padding-bottom:12px;
	background-color: #ffffff;
	border-bottom:solid 1px #999ca4;
	height:100%;
	font-size:12px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.IDCWMDialogButton
{
	width:73px;
	height:21px;
	text-align:center;
	color:Black;
	background-image:url(opaque/dialogBtn.gif);
	background-repeat:no-repeat;
	border:none;
	font-family:Arial;
	font-size:12px;
}
.IDCWMDialogButtonFocused
{
	width:73px;
	height:21px;
	text-align:center;
	color:Black;
	background-image:url(opaque/dialogBtnFocused.gif);
	background-repeat:no-repeat;
	border:none;
	font-family:Arial;
	font-size:12px;
}
.IDCWMDialogButtonGreen
{
	width:73px;
	height:21px;
	text-align:center;
	color:Black;
	background-image:url(opaque/dialogBtnGreen.gif);
	background-repeat:no-repeat;
	border:none;
	font-family:Arial;
	font-size:12px;
}
.IDCWMDialogButtonRed
{
	width:73px;
	height:21px;
	text-align:center;
	color:Black;
	background-image:url(opaque/dialogBtnRed.gif);
	background-repeat:no-repeat;
	border:none;
	font-family:Arial;
	font-size:12px;
}

.IDCWMWindowFrameTitleBarTabItems
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	margin-top:-30px;
	height:30px;
	position:absolute;
	z-index:25000;

}
.IDCWMWindowFrameTitleBarTabItem
{
	display:inline-block;
	background-image:url(opaque/windowTopTab.png);
	border-left:solid 1px #787e85;
	border-top:solid 1px #787e85;
	border-right:solid 1px #787e85;
	border-bottom:solid 1px #787e85;
	
	margin-left:2px;
	margin-right:2px;
	padding-left:8px;
	padding-right:8px;
	
	margin-top:7px;
	padding-top:2px;
		
	padding-bottom:5px;
	margin-bottom:3px;

	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
}
.IDCWMWindowFrameTitleBarTabItem_s
{
	display:inline-block;
	background-image:url(opaque/windowTopTabSelect.png);
	border-left:solid 1px #787e85;
	border-top:solid 1px #787e85;
	border-right:solid 1px #787e85;
	margin-left:2px;
	margin-right:2px;
	padding-left:8px;
	padding-right:8px;
	
	margin-top:4px;
	padding-top:5px;

	padding-bottom:6px;
	margin-bottom:3px;
	
	font-weight:bold;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
}



.IDCWMWindowFrameTitleBarTabItemRed
{
	display:inline-block;
	background-image:url(opaque/windowTopTabRed.png);
	border-left:solid 1px #787e85;
	border-top:solid 1px #787e85;
	border-right:solid 1px #787e85;
	border-bottom:solid 1px #787e85;
	
	margin-left:2px;
	margin-right:2px;
	padding-left:8px;
	padding-right:8px;
	
	margin-top:7px;
	padding-top:2px;
		
	padding-bottom:5px;
	margin-bottom:3px;

	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
}
.IDCWMWindowFrameTitleBarTabItem_sRed
{
	display:inline-block;
	background-image:url(opaque/windowTopTabSelectRed.png);
	border-left:solid 1px #787e85;
	border-top:solid 1px #787e85;
	border-right:solid 1px #787e85;
	margin-left:2px;
	margin-right:2px;
	padding-left:8px;
	padding-right:8px;
	
	margin-top:4px;
	padding-top:5px;

	padding-bottom:6px;
	margin-bottom:3px;
	
	font-weight:bold;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
}


.IDCWMWindowFrameTitleBarTabItemOrange
{
	display:inline-block;
	background-image:url(opaque/windowTopTabOrange.png);
	border-left:solid 1px #787e85;
	border-top:solid 1px #787e85;
	border-right:solid 1px #787e85;
	border-bottom:solid 1px #787e85;
	
	margin-left:2px;
	margin-right:2px;
	padding-left:8px;
	padding-right:8px;
	
	margin-top:7px;
	padding-top:2px;
		
	padding-bottom:5px;
	margin-bottom:3px;

	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
}
.IDCWMWindowFrameTitleBarTabItem_sOrange
{
	display:inline-block;
	background-image:url(opaque/windowTopTabSelectOrange.png);
	border-left:solid 1px #787e85;
	border-top:solid 1px #787e85;
	border-right:solid 1px #787e85;
	margin-left:2px;
	margin-right:2px;
	padding-left:8px;
	padding-right:8px;
	
	margin-top:4px;
	padding-top:5px;

	padding-bottom:6px;
	margin-bottom:3px;
	
	font-weight:bold;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
}



.IDCWMWindowFrameTitleBarTabItemYellow
{
	display:inline-block;
	background-image:url(opaque/windowTopTabYellow.png);
	border-left:solid 1px #787e85;
	border-top:solid 1px #787e85;
	border-right:solid 1px #787e85;
	border-bottom:solid 1px #787e85;
	
	margin-left:2px;
	margin-right:2px;
	padding-left:8px;
	padding-right:8px;
	
	margin-top:7px;
	padding-top:2px;
		
	padding-bottom:5px;
	margin-bottom:3px;

	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
}
.IDCWMWindowFrameTitleBarTabItem_sYellow
{
	display:inline-block;
	background-image:url(opaque/windowTopTabSelectYellow.png);
	border-left:solid 1px #787e85;
	border-top:solid 1px #787e85;
	border-right:solid 1px #787e85;
	margin-left:2px;
	margin-right:2px;
	padding-left:8px;
	padding-right:8px;
	
	margin-top:4px;
	padding-top:5px;

	padding-bottom:6px;
	margin-bottom:3px;
	
	font-weight:bold;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
}



.IDCWMWindowFrameTitleBarTabItemGreen
{
	display:inline-block;
	background-image:url(opaque/windowTopTabGreen.png);
	border-left:solid 1px #787e85;
	border-top:solid 1px #787e85;
	border-right:solid 1px #787e85;
	border-bottom:solid 1px #787e85;
	
	margin-left:2px;
	margin-right:2px;
	padding-left:8px;
	padding-right:8px;
	
	margin-top:7px;
	padding-top:2px;
		
	padding-bottom:5px;
	margin-bottom:3px;

	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
}
.IDCWMWindowFrameTitleBarTabItem_sGreen
{
	display:inline-block;
	background-image:url(opaque/windowTopTabSelectGreen.png);
	border-left:solid 1px #787e85;
	border-top:solid 1px #787e85;
	border-right:solid 1px #787e85;
	margin-left:2px;
	margin-right:2px;
	padding-left:8px;
	padding-right:8px;
	
	margin-top:4px;
	padding-top:5px;

	padding-bottom:6px;
	margin-bottom:3px;
	
	font-weight:bold;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
}


.IDCWMWindowFrameTitleBarTabItemPurple
{
	display:inline-block;
	background-image:url(opaque/windowTopTabPurple.png);
	border-left:solid 1px #787e85;
	border-top:solid 1px #787e85;
	border-right:solid 1px #787e85;
	border-bottom:solid 1px #787e85;
	
	margin-left:2px;
	margin-right:2px;
	padding-left:8px;
	padding-right:8px;
	
	margin-top:7px;
	padding-top:2px;
		
	padding-bottom:5px;
	margin-bottom:3px;

	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
}
.IDCWMWindowFrameTitleBarTabItem_sPurple
{
	display:inline-block;
	background-image:url(opaque/windowTopTabSelectPurple.png);
	border-left:solid 1px #787e85;
	border-top:solid 1px #787e85;
	border-right:solid 1px #787e85;
	margin-left:2px;
	margin-right:2px;
	padding-left:8px;
	padding-right:8px;
	
	margin-top:4px;
	padding-top:5px;

	padding-bottom:6px;
	margin-bottom:3px;
	
	font-weight:bold;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
}

/* WINDOW CONTEXT MENU */
.IDCWMWindowContextMenuFrame
{
	position:absolute;
	z-index:25000;
	background-color: #f0f0f0;
	border:solid 1px #979797;
	padding:2px;
	white-space:nowrap;	
	display:inline;
	margin-top:-2px;
}

.IDCWMWindowContextMenuItem
{
	cursor:pointer;	
	color:black;
	white-space:nowrap;
}

.IDCWMWindowContextMenuItemHover
{
	cursor:pointer;	
	color:White;
	white-space:nowrap;
}

.IDCWMWindowContextMenuText
{
	border-left: solid 1px white;
	padding:3px;
	cursor:pointer;	
	white-space:nowrap;
}

.IDCWMWindowContextMenuTextHover
{
	cursor:pointer;	
	white-space:nowrap;
	padding-left:4px;
	padding-right:3px;
	padding-top:2px;
	padding-bottom:2px;
	border-top:solid 1px #aecff7;
	border-bottom:solid 1px #aecff7;
	background-color: #ecf0f6;

}


.IDCWMWindowContextMenuIcon
{
	cursor:pointer;	
	padding:10px;
	padding-top:11px;
	padding-bottom:11px;
	padding-right:11px;
	font-size:1px;
	white-space:nowrap;
	border-right: solid 1px #e2e3e3;
	border-left: solid 1px transparent;
	background-position:center center;
	background-repeat:no-repeat;
}

.IDCWMWindowContextMenuIconHover
{
	cursor:pointer;	
	padding:10px;
	padding-right:12px;
	font-size:1px;
	white-space:nowrap;
	
	border-left:solid 1px #aecff7;
	border-top:solid 1px #aecff7;
	border-bottom:solid 1px #aecff7;
	background-color: #ecf0f6;
	background-position:center center;
	background-repeat:no-repeat;
}

.IDCWMWindowContextMenuSubPointer
{
	cursor:pointer;	
	font-size:1px;
	white-space:nowrap;
	padding-right:1px;
	padding-top:3px;
}

.IDCWMWindowContextMenuSubPointerHover
{
	cursor:pointer;	
	font-size:1px;
	white-space:nowrap;
	padding-top:2px;
	border-right:solid 1px #aecff7;
	border-top:solid 1px #aecff7;
	border-bottom:solid 1px #aecff7;
	background-color: #ecf0f6;
}

.IDCWMWindowContextMenuSubPointerIcon
{
	background-image:url(opaque/contextSub.gif);
	background-position: center center;
	background-repeat: no-repeat;
	width:16px;
	height:16px;
}
.IDCWMWindowContextMenuSubPointerIconHover
{
	background-image:url(opaque/contextSub.gif);
	background-position: center center;
	background-repeat: no-repeat;
	width:16px;
	height:16px;
}

.IDCWMWindowContextMenuSubPointerIconNull
{
	background-position: center center;
	background-repeat: no-repeat;
	width:16px;
	height:16px;
}
.IDCWMWindowContextMenuSubPointerIconNullHover
{
	background-position: center center;
	background-repeat: no-repeat;
	width:16px;
	height:16px;
}

.IDCWMWindowContextMenuSepatator
{
	border-left: solid 1px white;
	background-image:url(opaque/contextSep.gif);
	background-repeat:repeat-x;
	background-position: center center;
	padding:2px;
	font-size:1px;
}

.IDCWMWindowContextMenuSepatatorLeft
{
	border-right: solid 1px #e2e3e3;
	background-repeat:repeat-x;
	background-position: center center;
	padding:2px;
	font-size:1px;
}

.IDCWMWindowContextMenuSepatatorRight
{
	background-image:url(opaque/contextSep.gif);
	background-repeat:repeat-x;
	background-position: center center;
	padding:2px;
	font-size:1px;
}


.IDCWMWindowContextMenuScrollUp{ z-index:500000; position:absolute; text-align:center; color:Black; background-color:#f0f0f0;top:0px; cursor:pointer; border:solid 1px #979797;} .IDCWMWindowContextMenuScrollDown{z-index:500000; position:absolute;text-align:center; color:Black;background-color:#f0f0f0; bottom:0px; cursor:pointer; border:solid 1px #979797;} /* new items for text visuals on taskbar */
.IDCWMDesktopTaskbarButtonTextItem
{
	height:40px;
	width:131px;
	padding-top:14px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	position:absolute;
	vertical-align:middle;
	margin-left:-5px;
	float:left;
	clear:left;
	overflow:hidden;
	padding-right:4px;
}


.IDCWMDesktopTaskbarButtonText
{
	display:inline-block;
	width:190px;
	overflow:hidden;
	height:40px;
	background-image:url(opaque/taskbarButtonBackText.png);
	background-repeat:no-repeat;
	margin-left:3px;
	cursor:pointer;
}
.IDCWMDesktopTaskbarButtonTextFocused
{
	display:inline-block;
	width:190px;
	overflow:hidden;
	height:40px;
	background-image:url(opaque/taskbarButtonBackTextFocused.png);
	background-repeat:no-repeat;
	margin-left:3px;
	cursor:pointer;
}


.IDCWMDesktopTaskbarButtonMouseOverText
{
	position:absolute;
	z-index:-1;
	display:block;
	width:190px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOver.png);
	background-repeat:no-repeat;
	clip:rect(2px 188px 38px 2px);
}
.IDCWMDesktopTaskbarButtonMouseOverText_green
{
	position:absolute;
	z-index:-1;
	display:block;
	width:190px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverGreen.png);
	background-repeat:no-repeat;
	clip:rect(2px 188px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverText_red
{
	position:absolute;
	z-index:-1;
	display:block;
	width:190px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverRed.png);
	background-repeat:no-repeat;
	clip:rect(2px 188px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverText_purple
{
	position:absolute;
	z-index:-1;
	display:block;
	width:190px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverPurple.png);
	background-repeat:no-repeat;
	clip:rect(2px 188px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverText_yellow
{
	position:absolute;
	z-index:-1;
	display:block;
	width:190px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverYellow.png);
	background-repeat:no-repeat;
	clip:rect(2px 188px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverTextFocused
{
	position:absolute;
	z-index:-1;
	display:block;
	width:190px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOver.png);
	background-repeat:no-repeat;
	clip:rect(2px 188px 38px 2px);
}
.IDCWMDesktopTaskbarButtonMouseOverTextFocused_green
{
	position:absolute;
	z-index:-1;
	display:block;
	width:190px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverGreen.png);
	background-repeat:no-repeat;
	clip:rect(2px 188px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverTextFocused_red
{
	position:absolute;
	z-index:-1;
	display:block;
	width:190px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverRed.png);
	background-repeat:no-repeat;
	clip:rect(2px 188px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverTextFocused_purple
{
	position:absolute;
	z-index:-1;
	display:block;
	width:190px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverPurple.png);
	background-repeat:no-repeat;
	clip:rect(2px 188px 38px 2px);
}

.IDCWMDesktopTaskbarButtonMouseOverTextFocused_yellow
{
	position:absolute;
	z-index:-1;
	display:block;
	width:190px;
	height:40px;
	background-image:url(opaque/taskbarButtonMouseOverYellow.png);
	background-repeat:no-repeat;
	clip:rect(2px 188px 38px 2px);
}
